.accountLogosList {
  display: flex;
  align-items: center;
  gap: 2px;
  opacity: calc(var(--card-content-opacity, 0.8) - 0.2);
  transform: var(--card-content-transform, scale(1.06));
  transform-origin: left center;
  will-change: transform;
  transition: 0.36s var(--ease-out-cubic);
}
