.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 12px;
  margin-bottom: 40px;
}

.logoGroup {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.kiwiLogo {
  svg {
    height: 48px;
    width: auto;
  }
}

.dashboardLogo {
  position: relative;
  display: inline-flex;
  align-items: center;

  svg {
    height: 28px;
    width: auto;
  }

  &::before {
    content: "";
    position: absolute;
    top: 4px;
    left: -12px;
    bottom: 4px;
    width: 1px;
    background-color: var(--light-grey-alt);
  }
}

.headerActions {
  display: flex;
  column-gap: 12px;
}
