.button {
  display: flex;
  column-gap: 10px;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  padding: 14px 20px;

  svg {
    width: 16px;
    height: 16px;
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}

.secondary {
  background-color: var(--white);
  color: var(--black);
  border: 1px solid var(--grey);
}

.small {
  font-size: 14px;
  padding: 10px 16px;
}
