html,
body {
  padding: 0;
  margin: 0;
  font-family:
    /* var(--font-inter), */
    -apple-system,
    system-ui,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  background-color: var(--white);
  color: var(--black);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;

  &:before,
  &:after {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
  }
}

button {
  background-color: var(--blue);
  color: var(--white);
  border: none;
  border-radius: 100px;
  padding: 8px 16px;
  outline: none;
  user-select: none;
  appearance: none;
  font-weight: 500;
  cursor: pointer;

  &:focus-visible {
    outline: 1px solid var(--black);
  }
}

a {
  text-decoration: none;
  color: var(--black);
}

:root {
  --black: #000000;
  --white: #ffffff;
  --grey: #464646;
  --light-grey: #cccccc;
  --light-grey-alt: #e0e0e0;
  --blue: #085eca;
  --light-blue: #2f8bff;
  --green: #1db954;
  --light-green: #1ed760;
  --red: #ff4d4d;
  --light-red: #ff6666;

  --ease-out-cubic: cubic-bezier(0.22, 0.61, 0.36, 1);
}
