.container {
  width: 600px;
  max-width: 100%;
  margin: auto;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  width: 100%;
  display: grid;
  grid-row-gap: 12px;
}

.content button {
  justify-self: start;
  border: 1px solid var(--grey);
  padding: 10px 14px;
}
