.container {
  width: 720px;
  max-width: 100%;
  margin: auto;
  display: grid;
  row-gap: 14px;
  padding: 60px 14px;
}

.title {
  font-size: 24px;
  font-weight: 550;
  margin: 0px;
}

.subtitle {
  font-size: 16px;
  font-weight: 450;
  margin: 0px;
  color: var(--blue);
}

.description {
  font-size: 14px;
  color: var(--grey);
  margin: 2px 0 20px;
}

.list {
  display: grid;
  row-gap: 24px;
}

.dateRange {
  margin-top: 40px;
}

.dashboardAction {
  margin-top: 40px;
  display: grid;
  row-gap: 8px;
  justify-content: center;
  justify-items: center;
}
